<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database System: {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/styles.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/" class="branding no-decor">
            <i class="fa-solid fa-phone" style="font-size: 1.7rem; color: #008E4C; margin-right: 10px;"></i>
            <h2 style="margin-bottom: 0;">Help Desk system</h2>
        </a>
        <div>
            <a href="/logout" class="underline_hover" style="margin-right: 1rem; text-decoration: none; color: #008E4C;">Log out</a>
            <a href="/create_issue" class="primary-btn no-decor">Create issue</a>
        </div>
    </nav>
    
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <a href="https://nontgcob.com/" target="_blank" class="no-decor credit">Presented by Manzaneque Limited, Developed by Nutnornont Chamadol</a>
    </footer>
</body>
</html>